@font-face {
	font-family: 'Josefin Sans Regular';
	src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Bold';
	src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded-Bold';
	src: url('../assets/fonts/Unbounded-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

.header {
 width: 65%;
 max-width: 750px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 0 50px 0;
 background: #fff;
}

.header_white {
  width: 65%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  background: none;
 }

.header__title {
  max-width: 600px;
  height: auto;
  font-family: 'Unbounded-Bold', Verdana, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  hyphens: auto;
}

.header__title_white {
  max-width: 600px;
  height: auto;
  font-family: 'Unbounded-Bold', Verdana, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  hyphens: auto;
}
.header__subtitle {
 font-family: 'Josefin Sans Regular', Verdana, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 20px;
 letter-spacing: 0.5px;
 margin-bottom: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 hyphens: auto;
}

.header__subtitle_white {
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  hyphens: auto;
  color: #fff;
 }
.menu__header {
 width: 100%;
 display: block;
 padding: 8px 10px;
 text-transform: uppercase;
 letter-spacing: .27em;
}
.items__header {
 width: 100%;
 display: flex;
 justify-content: space-around;
 margin: 2px 0 0;
 padding: 0;
 font-size: 16px;
 line-height: 18px;
 list-style-type: none;
}
.item__header {
 width: calc(100%/3);
 display: flex;
 align-items: center;
 justify-content: center;
 box-sizing: border-box;
 /* border: 2px solid #1B1C1D; */

}

.item__header a {
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 10px;
  position: relative;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.item__header_white a {
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 10px;
  position: relative;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.item__header a:hover {
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;
  font-weight: 700;
}

.item__header a::after {
  content: "";
  width: 65px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.item__header_white a::after {
  content: "";
  width: 65px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.item__header a:hover::after {
  content: "";
  width: 70%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 3px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

.item__header_white a:hover::after {
  content: "";
  width: 70%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 3px;
  color: #fff;
  border-bottom: 3px solid #fff;
}