[v-cloak] {
 display: none !important;
}

@font-face {
	font-family: 'Josefin Sans Regular';
	src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Bold';
	src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

body, html
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  overflow: auto;
  max-height: 100vh;
  /* height: auto; */
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px; 
  background-color: #ffffff;
  border-radius: 16px;
  color: #1B1C1D;
  margin: 0 auto;
}
a {
  text-decoration: none;
  background-color: initial;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
 
.page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/photos/fon-1.jpg"); */
  /* background-image:  url("../assets/photos/fon-1.jpg"); */
}
.main {
  width: 100%;
  /* margin: 0 auto; */
}
.quiz__section {
  max-width: 750px;
  width: 65%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.quiz__form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 112%;
  letter-spacing: 0.11em;
  margin-bottom: 50px;
}

.quiz__form-subtitle {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #1B1C1D
}

.quiz__form {
 max-width: 600px;
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 background: #D9D9D9;
 border-radius: 60px;
 padding: 15px;
}

.quiz__questions {
 list-style-type: none;
 width: 80%;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: #8A91B6;
 border-radius: 21px;
}

.quiz__question {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #43423D;;
  padding: 20px 0;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #1B1C1D
 }
 .quiz__question:last-child {
  margin-bottom: 0;
  border-bottom: none;
 }

.btn {
  width: 60%;
  display: block;
  cursor: pointer;
  padding: 10px 25px;
  border: 2px solid #1B1C1D;
  border-radius: 4px;
  font-family: 'DM Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #1B1C1D;
  background: none;  
}

.quiz__form-btn {
  border: none;
  width: 37%;
  min-height: 30px;
  max-height: 95px;
  height: 13vh;
  max-width: 300px;
  background: linear-gradient(90.22deg, #C3D4DE 0%, #B4B4B4 100%);
  border-radius: 70px;
  font-family: 'Josefin Sans Bold', Verdana;
  text-transform: uppercase;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.5px;
  color: #000000;
  overflow: hidden;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media screen and (max-width: 750px) {
  body, html {
      max-width: 750px;
  }
  .quiz__section {
    width: 100%;
  }
  
}

@media screen and (max-width: 375px) {
  .quiz__section {
    width: 90%;
  }

  .quiz__questions {
    width: 95%;
  }

  .quiz__form-title {
    margin-bottom: 10px;
  }

  .quiz__form-btn {
    width: 60%;
    min-height: 30px;
    height: 8vh;
    font-size: 14px;
    line-height: 100%;
    
  }
  
}