.form_radio_btn {
	display: inline-block;
	margin-right: 20px;
}

.form_radio_btn input[type=radio] {
	/* width: 40px;
	height: 40px;
	background: #FFFFFF; */
	display: none;
}

.form_radio_btn label {
	/* display: inline-block;
	cursor: pointer;
	padding: 0px 35px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	margin-left: 20px;
}

/* Checked */
/* .form_radio_btn input[type=radio]:checked + label {
	background: #4FA963;
	width: 60px;
	height: 60px;
} */

.form_radio_btn input[type=radio]:checked + label::before {
	content: '';
	display: flex;
	background: #4FA963;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

/* Hover */
.form_radio_btn label:hover {
	color: #4FA963;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}