@font-face {
	font-family: 'Josefin Sans Regular';
	src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Bold';
	src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

.result__page {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 max-width: 650px;
 width: 70%;
 height: 60%;
 object-fit: cover;
 border-radius: 60px; 
 box-sizing: border-box;
 overflow: hidden;
 padding-bottom: 15px;
}

.result__title {
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 112%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__description {
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result__data{
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.result__subtitle {
  width: 100%;
  font-family: 'Josefin Sans Bold', Verdana, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  letter-spacing: 0.06em;
  color: #ffffff;
  align-self: center;
  text-align: center;
}

.result__valid {
  width: 100%;
  color: #ffffff;
  border: 1px solid white;
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 10px;
  margin-bottom: 15px;
}

.result__invalid {
  width: 100%;
  color: #ffffff;
  border: 1px solid white;
  font-family: 'Josefin Sans Regular', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 10px;
  margin-bottom: 55px;
}

@media screen and (max-width: 375px) {
  .result__page {
    max-width: 650px;
    width: 90%;
    height: 60%;
    
   }
	.result__title {
    font-size: 25px;
    line-height: 100%;
  }

  .result__subtitle {
    font-size: 20px;
    line-height: 100%;
  }
  
  .result__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }

  .result__valid, .result__invalid {
    font-size: 14px;
  }

	
}