@font-face {
	font-family: 'Josefin Sans Regular';
	src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Bold';
	src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Medium';
	src: url('../assets/fonts/JosefinSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

.start__section {
 max-width: 750px;
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: #FFFFFF;
 margin-bottom: 50px;
}

.start__description {
width: 100%;
font-family: 'Josefin Sans Medium', Verdana, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 112%;
letter-spacing: 0.11em;
color: #000;
background: linear-gradient(90.22deg, #C3D4DE 0%, #B4B4B4 100%);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px 0;
margin-bottom: 15px;
text-align: center;

}

.start__wrap-img {
width: 37%;
height: auto;
margin: 0 0 15px 0;
}

.start__img {
object-fit: cover;
width: 100%;
height: 100%;
}

.start__btn {
 border: none;
 width: 37%;
 min-height: 30px;
 max-height: 95px;
 height: 13vh;
 max-width: 300px;
 background: linear-gradient(90.22deg, #C3D4DE 0%, #B4B4B4 100%);
 border-radius: 70px;
 font-family: 'Josefin Sans Bold', Verdana;
 text-transform: uppercase;
 font-style: bold;
 font-weight: 700;
 font-size: 16px;
 line-height: 112%;
 letter-spacing: 0.5px;
 color: #000000;
 overflow: hidden;
 cursor: pointer;
}